* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Header */
header {
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.wraper {
    max-width: 1600px;
    width: 100vw;
    margin: auto;
    position: relative;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.header-logo img {
    border-radius: 50%;
}

.header-nav>ul {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header-nav ul li {
    margin-top: 20px;
    margin-left: 20px;
    padding: 6px 0;
}

.header-nav ul li a {
    color: #fff;
    font-family: "Onest", sans-serif;
    font-weight: 500;
}

.header-op {
    display: flex;
    justify-content: space-between;
}

.header-op>li {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 20px 10px;
}

.header-op>li input {
    width: 100;
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    margin-right: 10px;
    margin-bottom: 30px;
}

::placeholder {
    color: #fff;
}

.header-op>li a {
    color: #fff;
}

/* Slider */
.slider-item {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.slider-item::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.slider-item-one {
    background-image: url('../images/Slider1.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.slider-item-two {
    background-image: url('../images/Slider2.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.slider-item-three {
    background-image: url('../images/Slider3.jpg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

/* Owlcarousel */
.owl-prev {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px!important;
    color: #fff!important;
}

.owl-next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px!important;
    color: #fff!important;
}

.owl-prev, .owl-next:hover {
    background: none!important;
}

.owl-dots {
    position: absolute;
    display: flex;
    bottom: 20px;
    left: 48%;
}

.owl-dot {
    width: 23px;
    height: 23px;
    border: 2px solid #fff!important;
    border-radius: 50%;
    display: flex!important;
    align-items: center;
    text-align: center;
    margin-left: 6px;
}

.owl-dot span {
    width: 15px!important;
    height: 15px!important;
    margin: 0!important;
    background-color: transparent!important;
}

.owl-dot.active span {
    background-color: #000!important;
    margin-left: 2px!important;
}